<?php
	//EvalCOMIX URI with HTTP scheme.
	//IMPORTANT: It has to end with '/' character
	DEFINE("HOST", "http://www.host.com/evalcomix/");

	/*EvalCOMIX URI with HTTPS scheme.
	If the machine has not got the SSL certificate installed, 
	indicate the EvalCOMIX URI with HTTP scheme.
	*/
	//IMPORTANT: It has to end with '/' character
	DEFINE("SHOST", "https://www.host.com/evalcomix/");
?>
